<!DOCTYPE html>
<html>
    <head>
        <title>To-Do App</title>
        <link href="/assets/styles.css" rel="stylesheet" type="text/css"/>
        
        <script src="https://code.jquery.com/jquery-1.12.3.min.js"
        integrity="sha256-aaODHAgvwQW1bFOGXMeX+pC4PZIPsvn2h1sArYOhgXQ="
        crossorigin="anonymous"></script>
        <script src = "/assets/todo-list.js"></script>
    </head>
    <body>
        <div id="todo-table">
            <form autocomplete="off">
                <input type="text" name="item" placeholder="Add new item.." required/>
                <button type="submit">Add Item</button>
            </form>
            <ul>
                <%for(i = 0; i < todo.length; i++){%>
                    <li> <%= todo[i].item %> </li>
                <%}%>
            </ul>
            <!-- <h1>Hey you</h1> -->
        </div>
    </body>
</html>